h1 {
    text-align: center;
    font-size: 4rem;
    font-variant: small-caps;
}

section {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 500px;

    &#intro {
        font-family: monospace;
    }

    * {
        max-width: 100%;
    }
}

.info-box {
    margin-bottom: 1rem;
}

footer {
    font-size: small;
    display: flex;
    justify-content: space-around;
}

.button {
    color: black;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
    font-family: monospace;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    text-align: center;

    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: gray;
    }
}

aside.actions {
    display: none;
    position: fixed;
    left: 0px;
    bottom: 0px;

    height: fit-content;

    border: 1px solid black;
    border-left: none;
    border-bottom: none;

    background-color: white;

    padding-bottom: 5rem;
    padding-top: 1rem;

    flex-direction: column;
    justify-content: center;

    .button {
        margin: 0.5rem;
    }

    &.open {
        display: flex;
        width: 100%;


        border-right: none;
    }

    @media (min-width: 950px) {
        display: flex;

        padding-bottom: 1rem;
        padding-right: 1rem;
        border-radius: 0 2rem 0 0;

        &.open {
            display: flex;
            width: fit-content;

            border-right: 1px solid black;
        }
    }

}

#show-actions {
    position: fixed;
    left: 10px;
    bottom: 10px;

    @media (min-width: 950px) {
        display: none;
    }
}